/* Scrollbar styles */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000; /* Black track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #fb923c; /* Tailwind orange-400 */
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #f97316; /* Tailwind orange-500 when hover */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #fb923c #000;
  }
  